@model ComicReaderWeb.Models.Comic
@{
    Layout = "~/Views/Shared/_ComicLayout.cshtml";
}
@{
    var comic = new ComicReaderWeb.Models.Comic()
    {
        size = Model.size,
        page = Model.page,
        requestedFolder = Model.requestedFolder,
        requestedFile = Model.requestedFile
    };
}
    <!--Header-->
    <div id="SiteHeader">
        <div id="Logo">
            <img src="@Url.Content("~/Content/Images/LogoSolinoRound.svg")" height="100px" width="100px" />
        </div>
        <div id="TitleDiv">
            <div id="Title">Solino de Baay</div>
            <div id="SubTitle">A nice collection of Comics</div>
        </div>
    </div>
    <div id="MenuBar"></div>
    <!--Content-->
    <div id="Comic">
        <div id="ZoomOut"><a href="#" onClick="return ZoomOut('@(comic.size)');">-</a></div>
        <div id="header">@Html.ActionLink("Home", "Index", "Home", new { @page = Session["currentPageKey"] }, null)</div>
        <div id="ZoomIn"><a href="#" onClick="return ZoomIn('@(comic.size)');">+</a></div>
        <div id="prevButton">
            <a href="#" onClick="return PrevPage();"><</a>
        </div>
        <div id="content">
            <img width="@comic.size" alt="Comic" src="@ViewBag.ImageSource" id="ComicLeaf" />
        </div>
        <div id="nextButton">
            <a href="#" onClick="return NextPage();">></a>
        </div>
    </div>
    <div id="ComicBottomMargin"></div>
    <!--Footer-->
    <div id="Footer"></div>
